body {
  font-size: 20px;
  background-color: rgb(2, 2, 22);
  color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/*Header*/
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  z-index: 100;
  left: 0;
  top: 0;
}
header .menu-bar {
  padding: 20px 20px 10px 20px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: space-around;
}
header .user-logo {
  font-size: 1.3em;
  cursor: pointer;
}
header nav {
  position: relative;
  border-bottom: .5px solid white;
  border-radius: 10px;
}
header .btn-menu-mobile{
  padding: 6px 10px;
  display: none;
  border-radius: 10px;
  cursor: pointer;
}
header .btn-menu-mobile:hover {
  background-color: rgba(25, 25, 85, 0.534);
}
header ul{
  display: flex;
  gap: 15px;
  margin: 10px 0px;
}
header li {
  list-style: none;
}
header a {
  text-decoration: none;
  color: inherit;
  padding: 6px 10px;
  border-radius: 10px;
}
header a:hover {
  background-color: rgba(25, 25, 85, 0.534);
}

@media (max-width: 780px) {
  header .menu-bar{
    width: 100%;
    justify-content: space-between;
  }
  header nav {
    padding: 10px 15px;
  }
  header ul {
    display: none;
    padding: 10px 10px;
    margin: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  header li {
    width: 100%;
    text-align: center;
  }
  header .btn-menu-mobile{
    display: block;
  }
  header nav:hover ul{
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;
    flex-direction: column;
    right: 0;
    top: 70%;
    width: max-content;
    height: max-content;
    z-index: 10;
  }
  header nav:hover li{
    width: 100%;
  }
}

/*main*/
main {
  h1,h2,h3,h4,h5,h6 {
    text-align: center;
  }
  
  text-align: justify;
  width: 100%;
  display: flex;
  flex-direction: column;

  #projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projeto {
    width: 90%;
    max-width: 600px;
    padding: 10px 15px;
    border: .5px solid white;
    border-radius: 9px;
  }
}