body {
    font-size: 30px;
    background-color: rgb(4, 4, 36);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    border-bottom: 1px solid white;
    padding: 5px;
}