body {
  font-family: Cambria;
  font-size: 18px;
  color: black;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

header ul {
  width: 100%;
  height: max-content;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-around;
}
header li{
  width: max-content;
  height: max-content;
}
header a{
  text-decoration: none;
  color: initial;
  font-weight: bolder;
  padding: 5px 20px;
  border-radius: 10px;
}
header a:hover{
  cursor: pointer;
  background-color: azure;
}

main {
  height: 100;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
}

main h1,
main h2, 
main h3, 
main h4, 
main h5, 
main h6{
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(129, 247, 247);
}

main p{
  text-align: justify;
}

code {
  background-color: rgb(241, 241, 241);
}

.blocoCodigo {
  display: block;
  padding: 10px 5px;
  max-width: 100%;
  text-align: left;
  margin: 7px 0px;
}