#todasCartas {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

main .carta {
  width: 300px;
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
  border: .5px solid azure;
}

main .carta h4{
  margin: 0px;
  margin-bottom: 10px;
}
main .carta p {
  margin: 0px;
  padding: 0px 5px;
}
main .carta:hover {
  background-color: azure;
  cursor: pointer;
}