* {
  box-sizing: border-box;
}

.formularios {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 8px;
  width: 100%;
}

.campo_obrigatorio {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  left: 2;
  top: 2;
  color: rgba(255, 0, 0, 0.441);
}

.link_router {
  color: #1976d2;
  text-decoration-color: var(--accent);
}

.link_router:active {
  color: #1976d2;
}

h1,
h2,
h3 {
  text-align: center;
}

ul, ol {
  text-align: justify;
  font-size: var(--text-size);
  line-height: var(--line-height);
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

code,
pre {
  background-color: var(--code-bg);
}