main {
  padding-top: 10px;
}

#projetos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

main .projeto {
  width: 500px;
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
  border: .5px solid azure;
}

main .projeto h4{
  margin: 0px;
  margin-bottom: 10px;
}
main .projeto p {
  margin: 0px;
  padding: 0px 5px;
}
main .projeto:hover {
  background-color: rgb(5, 5, 54);
  cursor: pointer;
}